html {
  height: 100%;
}

body {
margin:0;
padding:0;
height: 100%;
}

#mainNav {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(100,100,100,0.5);
}




/*

body {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: #fff;

}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-basis: auto;
    justify-content: flex-start;
    flex-flow: row nowrap;
      flex-direction: row;
      flex-wrap: nowrap;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
